@using System.Globalization
@model IEnumerable<RVASispit.Models.TipPaketa>
@{
    ViewData["Title"] = "Tipovi Paketa";
}

<h2 class="text-center mb-4 mb-3">Tipovi Paketa</h2>

<div class="d-flex justify-content-end">
    <a asp-action="CreateTipPaketa" class="btn btn-success">Dodaj novi tip paketa</a>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Naziv Paketa</th>
            <th>Cena Mesecne Pretplate</th>
            <th>Cena Godisnje Pretplate</th>
            <th>Opis Paketa</th>
            <th>Cena Rezervacije</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tipPaketa in Model)
        {
            <tr>
                <td>@tipPaketa.nazivPaketa</td>
                <td>@tipPaketa.cenaMesecnePretplate.ToString("C", new CultureInfo("sr-RS"))</td>
                <td>@tipPaketa.cenaGodisnjePretplate.ToString("C", new CultureInfo("sr-RS"))</td>
                <td>@tipPaketa.opisPaketa</td>
                <td>@tipPaketa.cenaRezervacije.ToString("C", new CultureInfo("sr-RS"))</td>
                <td>
                    <div class="btn-group" role="group" style="gap: 0.5rem;">
                        <a asp-action="Edit" asp-route-id="@tipPaketa.Id" class="btn btn-primary">Izmeni</a>
                        <form asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@tipPaketa.Id" />
                            <button type="submit" class="btn btn-danger">Obriši</button>
                        </form>
                        <a asp-action="Details" asp-route-id="@tipPaketa.Id" class="btn btn-info">Detalji</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
